In [1]:
import pandas as pd
import numpy as np

In [8]:
euro = pd.read_csv('main1.csv')

In [9]:
euro.shape[1]

35

In [10]:
discipline = euro[['Team', 'Yellow Cards', 'Red Cards']]

In [11]:
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0